<html>
    <head>
    </head>
    <body>
        <div class="navbar">
            <div class="dashboard-imgholder" (click)="dashBoard()">
                <img src="https://static.thenounproject.com/png/4967158-200.png" class="dashboard-img">
            </div>
            <div class="timeoff-imgholder" (click)="timeOff()">
                <img src="https://static.thenounproject.com/png/4936578-200.png" class="timeoff-img">
            </div>
            <div class="directory-imgholder" (click)="empDirectory()">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/employee-channel-app-icon/employee-channel-app-recommender.png" class="directory-img">
            </div>
        </div>
    </body>
</html>
