<html>
    <head>
    </head>
    <body>
        <app-navbar></app-navbar>
<div class="content">
 <p class="welcome-note">Hi, {{employee?.name}}</p>
    <div class="dashboard-content">
        <div class="combined-section">
            <div class="holidays">
                <div class="holiday" *ngFor="let holiday of holidays">
                    <div class="day">{{holiday.leavedate}} {{holiday.occasion}}</div>
                </div>
            </div>
            <div class="timeoff">

            </div>
            <div class="upcoming-timeoff">

            </div>
        </div>
        <div class="birthday-buddies">
            <div *ngFor="let birthday of birthdayBuddies">{{birthday.name}} {{birthday.dob}}</div>
        </div>
        <div class="work-anniversary">
            <div class="work-anniversary-buddies" *ngFor="let workAnniversary of workAniversary">
                {{workAnniversary.name}} {{workAnniversary.doj}}
            </div>
        </div>
        <div class="new-hires">
            <div class="individual-newhires" *ngFor="let newhire of newHires">
                {{newhire.name}} {{newhire.doj}}
            </div>
        </div>
    </div>
</div>
</body>
</html>
